@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #000;
  height: 100%;
}

.contactDonatePage {
  width: 100vw;
  /* min-height: calc(100vh - 70px); */
}

.contactDonatePage .donateSection {
  width: 100vw;
  height: 500px;
  background-image: url('../Images/contactUs/contactUs.jpeg');
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
}

.contactDonatePage .donateSection .textBox {
  height: 450px;
  width: 475px;
  position: relative;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 20px;
}

.contactDonatePage .donateSection .textBox .title {
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.contactDonatePage .donateSection .textBox .separator {
  height: 2px;
  width: 90%;
  background: #ffcc57;
  margin: 10px 0;
}

.contactDonatePage .donateSection .textBox .title span {
  color: #e9ae26;
  font-weight: 800;
}

.contactDonatePage .donateSection .textBox p {
  padding: 10px 0;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.contactDonatePage .donateSection .textBox .quote {
  font-weight: 800;
  text-align: center;
}

.contactDonatePage .donateSection .textBox .donateButton {
  width: fit-content;
  height: fit-content;
  background: #e9ae26;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contactDonatePage .donateSection .textBox {
    height: 430px;
    width: 300px;
    padding: 10px;
    left: 20px;
  }

  .contactDonatePage .donateSection .textBox .title {
    font-size: 30px;
  }

  .contactDonatePage .donateSection .textBox .separator {
    margin: 5px 0;
  }
  
  .contactDonatePage .donateSection .textBox p {
    padding: 5px 0;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 450px) {
  .contactDonatePage .donateSection .textBox {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}